.login-wrapper {
    height: 100vh;
    width: 100vw;
    .login-content-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.login-left {
    display: flex;
    align-self: center;
    
    &__title {
        font-size: 56px;
        text-align: end;
    }
    &__button {
        display: flex;
        justify-content: flex-end;
    }
}