.journey{

}

.journey-position {
    
    &__left{
        display: flex;
        justify-content: flex-start;
    }
    &__center{
        display: flex;
        justify-content: center;
    }
    &__right{
        display: flex;
        justify-content: flex-end;
    }
}

.journey-wrapper {
    writing-mode: vertical-lr;
    transform: rotate(180deg);

    a{
        text-decoration: none;
    }

    &__solid {
        color: rgba($color: #3d3d3d, $alpha: .7);
    }
    &__transparent{
        color: rgba($color: #3d3d3d, $alpha: .4);
    }
    &__more-transparent{
        color: rgba($color: #3d3d3d, $alpha: .2);
    }
}

.journey-image{

    &__1{
        
    }
}