@mixin background {
    background-color: #fffcf2 ;
}

@mixin easy-to-read {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

@mixin yellow {
    color:#F3B562;
}
@mixin blue {
    color:#8CBEB2;
}
@mixin red {
    color:#F06060;
}
@mixin gray {
    color:#5C4B51;
}
@mixin cream {
    color: #F2EBBF;
}

@mixin journey {
    width: 250px;
    height: 170px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    background-size: 170px;
}