@mixin background {
    background-color: #fffcf2 ;
}

@mixin easy-to-read {
    font-family: 'Merriweather', serif;
    font-weight: 400;
}

@mixin green {
    color:#0b8c2b;
}
@mixin blue {
    color:#3491af;
}
@mixin red {
    color:#ff4e35;
}
@mixin gray {
    color:#6d6876;
}